/* ProductDisplay.css */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px; /* Adjust the width as needed */
  margin: 20px auto; /* Centered with margin on top and bottom */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto; /* Enable horizontal scrolling if the table is too wide */
}

h1 {
  text-align: center;
  color: #333;
}

/* Search input styling */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add a border around the table */
}

.product-table th,
.product-table td {
  padding: 12px;
  text-align: center; /* Center-align the column headers */
  border-bottom: 2px solid #ccc; /* Thicker dividing lines */
  height: 90px;
}

.product-table th {
  background-color: #00334e;
  color: #fff;
  font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-actions {
  display: flex;
  align-items: center; /* Vertically center the buttons */
  justify-content: center; /* Horizontally center the buttons */
}

.action-buttons {
  display: flex;
  align-items: center;
}

.update-product,
.delete-product,
.notify-supplier,
.add-product {
  padding: 8px 16px;
  margin: 0 4px; /* Add some spacing between buttons */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.update-product {
  background-color: #4caf50;
  color: #fff;
}

.delete-product {
  background-color: #f44336;
  color: #fff;
}

.add-product {
  background-color: #5588a3;
  color: #e8e8e8;
  padding: 12px 20px;
}

.notify-supplier {
  background-color: #ffdb58; /* Yellow */
  color: #333;
}

.update-product:hover,
.delete-product:hover,
.notify-supplier:hover,
.add-product:hover {
  opacity: 0.85;
}

.delete-product:hover {
  background-color: #d32f2f;
}

.add-product:hover {
  background-color: #0e3a57;
}

#heading {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
}

.generate-pdf {
  padding: 10px 16px;
  margin: 0 4px; /* Add some spacing between buttons */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffcc00; /* Dark yellow background color */
  color: #333; /* Text color */
}

.generate-pdf:hover {
  opacity: 0.9;
}
